In [75]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
# Question 1
pd.__version__

'2.2.2'

In [5]:
# Question 2
df.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [9]:
# Question 3
df['Brand'].nunique()

27

In [15]:
# Question 4
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [10]:
# Question 5
df[df['Brand']=='Dell']['Final Price'].max()

np.float64(3936.0)

In [61]:
# Question 6
median = df['Screen'].median()
mode = df['Screen'].mode()
df['Screen'].fillna(mode).median()

np.float64(15.6)

In [93]:
# Question 7
X = df[df['Brand'] == 'Innjoo'][['RAM','Storage','Screen']].to_numpy()
XTX = np.matmul(X,X.transpose())
y = np.array([1100, 1300, 800, 900, 1000, 1100])
# w = np.matmul(np.matmul(np.linalg.inv(XTX),X.transpose()), y)

np.float64(0.0)